bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.fake
/madkassenweb/.idea
/madkassenweb
/madkassenweb/.idea
/.idea/.idea.Madkassen/.idea
/UnitTestOrder
/UnitTestOrder
/madkassenweb/.idea
MadkassenRestAPI/.idea/.idea.MadkassenRestAPI.dir/.idea/workspace.xml
MadkassenRestAPI/.idea/.idea.MadkassenRestAPI.dir/.idea/projectSettingsUpdater.xml
