bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.fake
/madkassenweb/.idea
/madkassenweb
/madkassenweb/.idea
/.idea/.idea.Madkassen/.idea
/UnitTestOrder
/UnitTestOrder
/madkassenweb/.idea
# Visual Studio / test cache
.vs/
TestResults/
*.user
*.suo
*.testlog
*.db
*.db-wal
*.db-shm